<div [formGroup]="adressForm">
  <div class="form-group col-xs-6">
    <md-input placeholder="Street" type="text" maxlength="50" class="form-control" formControlName="street" #addressStreet>
      <md-hint align="end">{{addressStreet.characterCount}} / 50</md-hint>
    </md-input>
  </div>
  <div class="form-group col-xs-6">
    <md-input type="text" maxlength="10" placeholder="Postcode" class="form-control" formControlName="postcode" #addressPostcode>
      <md-hint align="end">{{addressPostcode.characterCount}} / 50</md-hint>
    </md-input>
  </div>
</div>
