<div class="container">
  <md-card>
    <md-card-title color="primary">Add customer</md-card-title>
    <md-card-content>
      <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
        <div class="form-group">
          <md-input type="text" placeholder="Name (5-50 chars)" maxlength="50" formControlName="name" #customerName>
            <md-hint align="end">{{customerName.characterCount}} / 50</md-hint>
          </md-input>
        </div>

        <div formArrayName="addresses">
          <div *ngFor="let address of myForm.controls.addresses.controls; let i=index">
            <div>
              <span>Address {{i + 1}}</span>
                    <a *ngIf="myForm.controls.addresses.controls.length > 1"
                       href="#"
                       (click)="removeAddress(i, $event)">Remove
                    </a>
            </div>

            <div [formGroupName]="i">
              <address [group]="myForm.controls.addresses.controls[i]"></address>
            </div>


          </div>
          <br>
          <div class="margin-20">
            <a (click)="addAddress($event)" href="#">
              Add another address +
            </a>
          </div>
          <br>
          <button md-raised-button color="primary" type="submit" [disabled]="!myForm.valid">Submit</button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
